modules = ["python-3.10:v20-20230824-f46249a", "python-3.10:v25-20230920-d4ad2e4"]

hidden = [".pythonlibs"]
run = "python app.py"

[nix]
channel = "stable-23_05"

[deployment]
run = ["sh", "-c", "python app.py"]
deploymentTarget = "cloudrun"

[auth]
pageEnabled = false
buttonEnabled = false
